# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
back/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
back/vendor/* linguist-vendored
back/config/credentials/*.yml.enc diff=rails_credentials
back/config/credentials.yml.enc diff=rails_credentials

# Handle line endings automatically for files detected as text
* text=auto